<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="Section" type="StartupLoader.AppSettingsSection, StartupLoader" />
    </configSections>
    <Section>
      <Applications>
        <AppSetting label="Notepad" path="notepad.exe" arguments=""/>
        <AppSetting label="Restart Job" path="G:\restart.bat" arguments="" restart="0"/>
        <AppSetting label="CMD" path="cmd" arguments="/C exit 0"/>
      </Applications>
    </Section>
    <appSettings>
      <add key="continue_on_error" value="0"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>